doctype html
html(lang = "en" ng-app='StaticBlogApp' ng-controller='EntryPointController')
   head
      meta(charset="UTF-8")
      include includes/styles
   body
      sb-global-loader(size='20px')
      sb-thread
      include includes/scripts