doctype html
html(lang = "en" ng-app='StaticBlogApp')
   head
      meta(charset="UTF-8")
      include includes/styles
      each template in templates
         script(type="text/ng-template" id=template.path)!=template.content
   body
      sb-global-loader(size='20px')
      .layout-root

         .layout-header
            sb-header(blog-name="Мой блог")

         .layout-content(ng-view)

         .layout-tree
            sb-tree-element(path='/')

      include includes/scripts