indicatorPartsCount = 8
indicatorPartAngle = 360deg / 8

backgroundColor = rgba(248, 248, 248, 1)
fontColor = rgba(85, 85, 85, 1)

linesColor = fontColor

contentWidth = 100%
contentLeftMargin = 100px

layoutTreeWidth = 300px


headerHeight = 100px
headerUnderlineHeight = 3px
headerUnderlineWidth = contentWidth