@import constants
@import mixins

sb-header
  fill-parent()
  display : inline-block
  background backgroundColor

  .wrapper
    fill-parent()

    .header, .search
      display inline-block
      fill-parent()

    .header
      h1
        fill-parent()
        font-size 50px
        font-weight 100
        text-align center
        margin 0
        vertical-align middle
        line-height headerHeight



