@import constants
@import mixins

sb-header
  fill-parent()
  display : inline-block
  background backgroundColor

  .wrapper
    fill-parent()

    .header, .search
      display inline-block
      fill-parent()

    .header
      h1
        fill-parent()
        font-size 50px
        font-weight 100
        text-align center
        margin 0
        vertical-align middle
        line-height headerHeight

    .underline
      display block
      text-align center
      width 100%
      height headerUnderlineHeight
      margin-top - (headerUnderlineHeight * 2)
      div
        display inline-block
        width headerUnderlineWidth
        height headerUnderlineHeight
        vertical-align top
        border-top 1px solid #000000
        border-bottom 1px solid #000000



